/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
body {
    margin: 0px;
    text-align: center;
    font-family: "Lemonada", cursive;
    
}

#hero {
    padding: 80px;
    background-image: url(dahab-bckgrnd.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 16px;
    color: white;
    background: #263428;
    padding: 5px 10px;
    border-radius: 10px;
}

#hock-line {
    font-size: 14px;
    color: white;
    background: #3e3b2b;
    padding: 10px 5px;
    border-radius: 10px;    
}

.act-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.act-title {
    font-size: 16px
}
.act-parg {
    font-size: 14px;
}

#activites {
    display: flex;
    justify-content: space-around;
    color: #263428;
}
#act {
    background-color: #CDCAB7;
    padding: 10px 15px;
}

.activity{
    width: 100px;
}

#act-hock {
    color: #263428;
    font-size: 20px;
    margin-bottom: 50px;
    text-shadow: 0px 0px 1px black;
}

#guide-image {
    width: 200px;
    border-radius: 5px;
}

#card {
    background-color: #3e3b2b;
    color: white;
    width: 400px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
}

#card-title {
    font-size: 15px;
    margin-bottom: 30px;
}

#card-parg {
    font-size: 13px;
    margin-bottom: 30px;
}

#card-name {
    font-size: 14px;
}